.production-section {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-color: var(--background-color_w);
}
.productionContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}
.production-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.production-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.production-content2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.production-imgFt {
    position: relative;
}
.production-imgFt .Grelectrolysis {
    border-radius: 1.7rem;
    height: 25rem;
    width: 35rem;
    object-fit: contain;
    filter: brightness(105%);
    filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.148));
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt .Grelectrolysis:hover{
    filter: grayscale(0%);
}
.production-textFt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.production-textFt h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
}
.production-imgFt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt2 .Grelectrolysis2 {
    border-radius: 1rem;
    height: 23rem;
    width: 25rem;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt2 .Grelectrolysis2:hover{
    filter: grayscale(0%);
}
.production-textFt2 P{
    color: gray;
    text-align: justify;
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}
.sectionMethods2{
    font-size: 3rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    margin-top: 4rem;
}
.production-imgFt3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt3 .ectrolysis1 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt3 .ectrolysis1:hover{
    filter: grayscale(0%);
}
.production-imgFt4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt4 .ectrolysis2 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt4 .ectrolysis2:hover{
    filter: grayscale(0%);
}
.production-imgFt5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt5 .ectrolysis3 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt5 .ectrolysis3:hover{
    filter: grayscale(0%);
}
.production-imgFt5 .ectrolysis4 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt5 .ectrolysis4:hover{
    filter: grayscale(0%);
}
.production-textFt2 h2{
    font-size: 3rem;
    color: #30ca59;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-style: oblique;
    text-wrap: pretty;
}
.production-textFt2 h3{
    font-size: 4rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-wrap: pretty;
}
.production-textFt2 h3:nth-child(2){
    margin-bottom: 1rem;
}
.production-imgFt2 .Pemectrolysis {
    border-radius: 1rem;
    height: 22rem;
    width: 25rem;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.production-imgFt2 .Pemectrolysis:hover{
    filter: grayscale(0%);
}