.production-section {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-color: var(--background-color_w);
}
.productionContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}
.production-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.production-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.production-contentheader{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.production-content2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.production-content10{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.production-content11{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.production-imgFt {
    position: relative;
}
.production-imgFt .Grelectrolysis {
    border-radius: 1.7rem;
    height: 25rem;
    width: 35rem;
    object-fit: contain;
    filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.148));
    transition: 0.5s ease-in-out;
}
.production-textFt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.production-textFt h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
}
.production-imgFt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt2 .Grelectrolysis2 {
    border-radius: 1rem;
    height: 23rem;
    width: 25rem;
    max-width: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.production-textFt2 P{
    color: gray;
    text-align: justify;
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}
.sectionMethods2{
    font-size: 3rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    margin-top: 6rem;
}
.production-imgFt3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt3 .ectrolysis1 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.production-imgFt4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt4 .ectrolysis2 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.production-imgFt5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.production-imgFt5 .ectrolysis3 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.production-imgFt5 .ectrolysis4 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.production-textFt2 h2{
    font-size: 3rem;
    color: #30ca59;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-style: oblique;
    text-wrap: pretty;
}
.production-textFt2 h3{
    font-size: 4rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-wrap: pretty;
}
.production-textFt2 h3:nth-child(2){
    margin-bottom: 1rem;
}
.production-imgFt2 .Pemectrolysis {
    border-radius: 1rem;
    height: 25rem;
    width: 25rem;
    max-width: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

@media(max-width: 1051px) {
    .production-textFt2 P{
        font-size: 1.4rem;
    }
}
@media(max-width: 900px) {
    .production-textFt2 P{
        font-size: 1.3rem;
    }
}
@media(max-width: 780px) {
    .production-textFt2 P{
        font-size: 1.25rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 23rem;
        width: 33rem;
    }
    .production-textFt h1{
        font-size: 5rem;
    }
}
@media(max-width: 727px) {
    .production-textFt2 P{
        font-size: 1.1rem;
    }
    .production-textFt h1{
        font-size: 5rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 23rem;
        width: 33rem;
    }
}
@media(max-width: 650px) {
    .production-content2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        column-gap: 2rem;
        margin-top: 5rem;
        width: 100%;
    }
    .production-imgFt2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin-top: 3rem;
    }
    .production-imgFt2 .Grelectrolysis2 {
        width: 100%;
    }
    .production-imgFt2 .Pemectrolysis {
        width: 100%;
    }
    .production-textFt h1{
        font-size: 4rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 21rem;
        width: 31rem;
    }
    .production-textFt2 h3{
        font-size: 3.5rem;
        text-wrap: nowrap;
    }
    .sectionMethods2{
        font-size: 2rem;
    }
}
@media(max-width: 600px) {
    .production-textFt h1{
        font-size: 3.5rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 19rem;
        width: 20rem;
    }
    .production-content10{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .production-content11{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .production-imgFt4{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    .production-imgFt3{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .production-imgFt5{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    .production-textFt2 h3{
        font-size: 3rem;
        text-wrap: balance;
    }
    .production-textFt2 P{
        font-size: 1.25rem;
    }
}
@media(max-width: 463px) {
    .production-textFt h1{
        font-size: 3rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 17rem;
        width: 18rem;
    }
}
@media(max-width: 411px) {
    .production-textFt h1{
        font-size: 2.5rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 15rem;
        width: 16rem;
    }
    .production-textFt2 h2{
        font-size: 2.5rem;
    }
}
@media(max-width: 380px) {
    .production-textFt h1{
        font-size: 2rem;
    }
    .production-imgFt .Grelectrolysis {
        height: 12.5rem;
        width: 13.5rem;
    }
}










@media(max-width: 966px) {
    .production-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 571px) {
    .production-content h4 {
      font-size: 2.25rem;
    }
  }
  @media(max-width: 532px) {
    .production-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 472px) {
    .production-content h4 {
      font-size: 1.75rem;
    }
  }
  @media(max-width: 422px) {
    .production-content h4 {
      font-size: 1.5rem;
    }
  }
  @media(max-width: 374px) {
    .production-content h4 {
      font-size: 1.25rem;
    }
  }
  @media(max-width: 366px) {
    .production-content h4 {
      font-size: 1rem;
    }
  }