.Hydrosolution-section {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-color: var(--background-color_w);
}
.HydrosolutionContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}
.Hydrosolution-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.Hydrosolution-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.HydroSol-Item1{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
}
.HydroSol-Dv1{
    width: 50%;
    display: grid;
    flex-direction: row;
    gap: 2rem;
}
.HydroSol-Dv1 h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
}
.HydroSol-Dv1 p{
    color: gray;
    text-align: justify;
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}
.HydroSol-Dv2{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    z-index: 999;
}
.HydroSol-Dv2 img{
    border-radius: 1.7rem;
    height: 33rem;
    width: 35rem;
    object-fit: cover;
}
.HydroServ-v1{
    margin-top: 8rem;
}
.HydroServ-v1 h2{
    color: #30ca59;
    font-size: 3.5rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    margin-bottom: 1rem;
    font-style: oblique;
}
.HydroServ-v1 h4 {
    color: gray;
    font-family: 'Mulish',sans-serif;
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.6;
}
.HydroServ-Item1{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}
.HydroServ-Col1{
    display: flex;
    gap: 1rem;
    width: 50%;
    z-index: 999;
}
.HydroServ-Col1 .HydroServ-Col1Img1.collapsed{
    width: 33.33%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
}
.HydroServ-Col1 .HydroServ-Col1Img2.collapsed{
    width: 33.33%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
}
.HydroServ-Col1 .HydroServ-Col1Img3.collapsed{
    width: 33.33%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
}
.HydroServ-Col1 .HydroServ-Col1Img1.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
}
.HydroServ-Col1 .HydroServ-Col1Img2.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
}
.HydroServ-Col1 .HydroServ-Col1Img3.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
}


.HydroServ-Col1 .HydroSol1{
    width: 100%;
    height: 25.75rem;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 1999;
}
.HydroServ-Col1 .HydroSol2{
    width: 100%;
    height: 25.75rem;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 1999;
}
.HydroServ-Col1 .HydroSol3{
    width: 100%;
    height: 25.75rem;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 1999;
}
.HydroServ-Col2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}
.HydroServ-Col2Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 8rem;
    border: 1px solid rgb(202, 202, 202);
    padding: 0rem 2rem;
    border-radius: 0.75rem;
    gap: 0.5rem;
    cursor: pointer;
}
.HydroServ-Col2Text.active{
    border: 1px solid #30ca59;
    box-shadow: 0px 5px 10px 3px #30ca5912;
}
.HydroServ-Col2Text span:nth-child(1){
    font-size: 1.2rem;
    font-weight: 600;
    color: #30ca59;
}
.HydroServ-Col2Text span:nth-child(2){
    color: var(--color);
    font-family: 'Mulish',sans-serif;
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.6;
}
.ITSolutions-Tit{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    width: 100%;
}
.ITSolutions-Tit h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: right;
    width: 50%;
}
.ITSolutions-Tit .ITSolutions-hr{
    border: 1px solid #30ca59;
    width: 50%;
}

@media(max-width: 1102px) {
    .HydroServ-Col2Text span:nth-child(1){
        font-size: 1.2rem;
        font-weight: 600;
        color: #30ca59;
    }
    .HydroServ-Col2Text span:nth-child(2){
        color: var(--color);
        font-family: 'Mulish',sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6;
    }
    .HydroServ-Col2Text{
        width: 80%;
    }
    .ITSolutions-Tit h1{
        font-size: 5.5rem;
    }
}
@media(max-width: 953px) {
    .ITSolutions-Tit h1{
        font-size: 5rem;
    }
}
@media(max-width: 876px) {
    .ITSolutions-Tit h1{
        font-size: 4.5rem;
    }
}
@media(max-width: 796px) {
    .ITSolutions-Tit h1{
        font-size: 4rem;
    }
}
@media(max-width: 722px) {
    .ITSolutions-Tit h1{
        font-size: 3.5rem;
    }
}
@media(max-width: 645px) {
    .ITSolutions-Tit h1{
        font-size: 3rem;
    }
}
@media(max-width: 562px) {
    .ITSolutions-Tit h1{
        font-size: 2.5rem;
    }
}
@media(max-width: 899px) {
    .HydroServ-Col2Text{
        width: 90%;
    }
}
@media(max-width: 801px) {
    .HydroServ-Col2Text{
        width: 90%;
    }
    .HydroServ-Col1{
        width: 45%;
    }
    .HydroServ-Col2{
        width: 55%;
    }
}
@media(max-width: 732px) {
    .HydroServ-Item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
    }
    .HydroServ-Col2Text{
        width: 100%;
    }
    .HydroServ-Col1{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .HydroServ-Col2{
        width: 100%;
    }
    .HydroServ-v1 h2{
        font-size: 2.5rem;
    }
    .HydroServ-v1 h4 {
        font-size: 1.4rem;
    }
}
@media(max-width: 966px) {
    .Hydrosolution-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 571px) {
    .Hydrosolution-content h4 {
      font-size: 2.25rem;
    }
  }
  @media(max-width: 532px) {
    .Hydrosolution-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 472px) {
    .Hydrosolution-content h4 {
      font-size: 1.75rem;
    }
  }
  @media(max-width: 422px) {
    .Hydrosolution-content h4 {
      font-size: 1.5rem;
    }
  }
  @media(max-width: 374px) {
    .Hydrosolution-content h4 {
      font-size: 1.25rem;
    }
  }
  @media(max-width: 366px) {
    .Hydrosolution-content h4 {
      font-size: 1rem;
    }
  }