.sources-section {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-color: var(--background-color_w);
}
.sourcesContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}
.sources-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.sources-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.sources-contentheader{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.sources-content2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
    width: 100%;
}
.sources-imgFt {
    position: relative;
}
.sources-imgFt .GrH2 {
    height: 25rem;
    width: 35rem;
    object-fit: contain;
    filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.148));
    transition: 0.5s ease-in-out;
}
.sources-textFt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.sources-textFt h1{
    font-size: 6rem;
    color: gray;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
}
.sources-imgFt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sources-imgFt2 .GrDef {
    border-radius: 1rem;
    height: 35rem;
    width: 25rem;
    max-width: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.sources-textFt2 P{
    color: gray;
    text-align: justify;
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}
.sectionMethods{
    font-size: 3rem;
    color: gray;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    margin-top: 6rem;
}
.sources-imgFt3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sources-imgFt3 .Method1 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.sources-imgFt4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sources-imgFt4 .Method2 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 1s ease-in-out;
    /* filter: grayscale(100%); */
}
/* .sources-imgFt4 .Method2:hover{
    filter: grayscale(0%);
} */
.sources-imgFt5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sources-imgFt5 .Method3 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.greyHydro-table{
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    text-align: center;
    border: none;
    margin-top: 3rem;
    border: 1px solid #30ca59;
    transition: 0.5s ease-in-out;
}
.trHead th{
    background-color: #30ca59;
    padding: 1.5rem 1rem;
    font-family: "Cormorant Garamond", serif;
    color: white;
    font-weight: 700;
    font-style: oblique;
    font-size: 2rem;
}
.greyHydro-table tr td{
    padding: 1.5rem 1rem;
    font-family: "Cormorant Garamond", serif;
    color: gray;
    font-weight: 700;
    font-style: oblique;
    font-size: 1.8rem;
}
.blueHydro{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    width: 100%;
}
.blueHydro h1{
    font-size: 6rem;
    color: rgb(0, 106, 255);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
}
.blueHydro .blueHydro-hr{
    border: 1px solid rgb(0, 106, 255);
    width: 100%;
}
.sources-imgFt2 .BlH2 {
    border-radius: 1rem;
    height: 30rem;
    width: 25rem;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.sectionBlue{
    font-size: 2rem;
    color: gray;
    color: gray;
    text-align: justify;
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 4rem;
}
.GreenHydro{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    width: 100%;
}
.GreenHydro h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: end;
}
.GreenHydro .greenHydro-hr{
    border: 1px solid #30ca59;
    width: 100%;
}
.sources-imgFt2 .GreenH2 {
    border-radius: 1rem;
    height: 35rem;
    width: 25rem;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.sectionRef{
    font-size: 2rem;
    color: gray;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    margin-top: 4rem;
}
.sectionRef span{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

@media(max-width: 1104px) {
    .sources-textFt2 P{
        font-size: 1.4rem;
    }
    .greyHydro-table tr td{
        font-size: 1.7rem;
    }
}
@media(max-width: 964px) {
    .sources-textFt2 P{
        font-size: 1.3rem;
    }
    .greyHydro-table tr td{
        font-size: 1.6rem;
    }
}
@media(max-width: 857px) {
    .sources-textFt2 P{
        font-size: 1.22rem;
    }
    .trHead th{
        font-size: 1.75rem;
    }
    .greyHydro-table tr td{
        font-size: 1.4rem;
    }
}
@media(max-width: 776px) {
    .sources-textFt2 P{
        font-size: 1.202rem;
    }
    .sources-textFt h1{
        font-size: 5rem;
    }
    .GreenHydro h1{
        font-size: 5rem;
    }
    .blueHydro h1{
        font-size: 5rem;
    }
}
@media(max-width: 751px) {
    .sources-textFt2 P{
        font-size: 1.12rem;
    }
    .sources-textFt h1{
        font-size: 5rem;
    }
    .GreenHydro h1{
        font-size: 5rem;
    }
    .blueHydro h1{
        font-size: 5rem;
    }
}
@media(max-width: 677px) {
    .sources-textFt2 P{
        font-size: 1.5rem;
    }
    .sources-textFt h1{
        font-size: 4rem;
    }
    .GreenHydro h1{
        font-size: 4rem;
    }
    .blueHydro h1{
        font-size: 4rem;
    }
    .sources-content2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        column-gap: 2rem;
        margin-top: 5rem;
        width: 100%;
    }
    .sources-imgFt2{
        width: 100%;
    }
    .sources-imgFt2 .GrDef {
        border-radius: 1rem;
        height: 35rem;
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
        margin-top: 3rem;
    }
    .sources-imgFt2 .BlH2 {
        border-radius: 1rem;
        height: 30rem;
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
        margin-top: 3rem;
    }
    .sources-imgFt2 .GreenH2 {
        border-radius: 1rem;
        height: 35rem;
        width: 100%;
        object-fit: cover;
        margin-top: 3rem;
        transition: 0.5s ease-in-out;
    }
    .sectionMethods{
        font-size: 2.5rem;
    }
    .sources-imgFt3{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
    .sources-imgFt4{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
    .sources-imgFt5{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
}
@media(max-width: 622px) {
    .sources-imgFt .GrH2 {
        height: 20rem;
        width: 30rem;
    }
}
@media(max-width: 560px) {
    .sources-imgFt .GrH2 {
        height: 15rem;
        width: 25rem;
    }
}
@media(max-width: 511px) {
    .sources-imgFt .GrH2 {
        height: 15rem;
        width: 20rem;
    }
}
@media(max-width: 493px) {
    .trHead th{
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
    }
    .greyHydro-table tr td{
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
    }
}
@media(max-width: 493px) {
    .trHead th{
        padding: 0.5rem 0.5rem;
        font-size: 0.9rem;
    }
    .greyHydro-table tr td{
        padding: 0.5rem 0.5rem;
        font-size: 0.9rem;
    }
}
@media(max-width: 465px) {
    .sources-imgFt .GrH2 {
        height: 12.5rem;
        width: 17.5rem;
    }
    .sources-textFt h1{
        font-size: 3.5rem;
    }
    .GreenHydro h1{
        font-size: 3.5rem;
    }
    .blueHydro h1{
        font-size: 3.5rem;
    }
}
@media(max-width: 429px) {
    .sources-imgFt .GrH2 {
        height: 10rem;
        width: 15rem;
    }
}
@media(max-width: 380px) {
    .sources-imgFt .GrH2 {
        height: 8.75rem;
        width: 12.75rem;
    }
    .sources-textFt h1{
        font-size: 3.25rem;
    }
}
@media(max-width: 353px) {
    .trHead th{
        padding: 0.25rem 0.25rem;
        font-size: 0.75rem;
    }
    .greyHydro-table tr td{
        padding: 0.25rem 0.25rem;
        font-size: 0.75rem;
    }
}

@media(max-width: 347px) {
    .sources-imgFt .GrH2 {
        height: 6.5rem;
        width: 12rem;
    }
}
@media(max-width: 329px) {
    .sources-imgFt .GrH2 {
        height: 6rem;
        width: 11rem;
    }
    .sources-textFt h1{
        font-size: 3rem;
    }
}
@media(max-width: 966px) {
    .sources-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 571px) {
    .sources-content h4 {
      font-size: 2.25rem;
    }
  }
  @media(max-width: 532px) {
    .sources-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 472px) {
    .sources-content h4 {
      font-size: 1.75rem;
    }
  }
  @media(max-width: 422px) {
    .sources-content h4 {
      font-size: 1.5rem;
    }
  }
  @media(max-width: 374px) {
    .sources-content h4 {
      font-size: 1.25rem;
    }
  }
  @media(max-width: 366px) {
    .sources-content h4 {
      font-size: 1rem;
    }
  }