.ITsolution-section {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-color: var(--background-color_w);
}
.ITsolutionContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}
.ITsolution-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.ITsolution-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.ITServ-v1{
    /* margin-top: 8rem; */
}
.ITServ-v1 h2{
    color: #30ca59;
    font-size: 3.5rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    margin-bottom: 1rem;
    font-style: oblique;
}
.ITServ-v1 h4 {
    color: gray;
    font-family: 'Mulish',sans-serif;
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.6;
}
.ITServ-Item1{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.ITServ-Col1{
    display: grid;
    /* flex-direction: column; */
    gap: 4rem;
    width: 50%;
}
.ITServ-v2{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.ITServ-Col1 .ITServ-Col1Img1.collapsed{
    width: 20%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(100%); */
}
.ITServ-Col1 .ITServ-Col1Img2.collapsed{
    width: 20%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(100%); */
}
.ITServ-Col1 .ITServ-Col1Img3.collapsed{
    width: 20%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(100%); */
}
.ITServ-Col1 .ITServ-Col1Img4.collapsed{
    width: 20%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(100%); */
}
.ITServ-Col1 .ITServ-Col1Img5.collapsed{
    width: 20%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(100%); */
}
.ITServ-Col1 .ITServ-Col1Img1.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(0%); */
}
.ITServ-Col1 .ITServ-Col1Img2.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(0%); */
}
.ITServ-Col1 .ITServ-Col1Img3.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(0%); */
}
.ITServ-Col1 .ITServ-Col1Img4.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(0%); */
}
.ITServ-Col1 .ITServ-Col1Img5.expanded{
    width: 80%;
    z-index: 999;
    transition: width 0.3s ease-in-out;
    /* filter: grayscale(0%); */
}

.ITServ-Col1 .HydroSol1{
    width: 100%;
    height: 25.75rem;
    object-fit: cover;
    border-radius: 1rem;
}
.ITServ-Col1 .HydroSol2{
    width: 100%;
    height: 25.75rem;
    object-fit: cover;
    border-radius: 1rem;
}
.ITServ-Col1 .HydroSol3{
    width: 100%;
    height: 25.75rem;
    object-fit: cover;
    border-radius: 1rem;
}
.ITServ-Col2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}
.ITServ-Col2Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 8rem;
    border: 1px solid rgb(202, 202, 202);
    padding: 0rem 2rem;
    border-radius: 0.75rem;
    gap: 0.5rem;
    cursor: pointer;
}
.ITServ-Col2Text.active{
    border: 1px solid #30ca59;
    box-shadow: 0px 5px 10px 3px #30ca5912;
}
.ITServ-Col2Text span:nth-child(1){
    font-size: 1.2rem;
    font-weight: 600;
    color: #30ca59;
}
.ITServ-Col2Text span:nth-child(2){
    color: var(--color);
    font-family: 'Mulish',sans-serif;
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.6;
}
.ITSolutions2-Tit{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 100%;
}
.ITSolutions2-Tit h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: right;
    width: 50%;
}
.ITSolutions2-Tit .ITSolutions2-hr{
    border: 1px solid #30ca59;
    width: 50%;
}

@media(max-width: 1081px) {
    .ITSolutions2-Tit h1{
        font-size: 5.5rem;
    }
    .ITServ-Col2Text span:nth-child(1){
        font-size: 1.2rem;
        font-weight: 600;
        color: #30ca59;
    }
    .ITServ-Col2Text span:nth-child(2){
        color: var(--color);
        font-family: 'Mulish',sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6;
    }
}
@media(max-width: 998px) {
    .ITSolutions2-Tit h1{
        font-size: 5rem;
    }
}
@media(max-width: 921px) {
    .ITSolutions2-Tit h1{
        font-size: 4.5rem;
    }
}
@media(max-width: 834px) {
    .ITSolutions2-Tit h1{
        font-size: 4rem;
    }
}
@media(max-width: 752px) {
    .ITSolutions2-Tit h1{
        font-size: 3.5rem;
    }
    .ITServ-v1 h2{
        font-size: 2.5rem;
    }
    .ITServ-v1 h4 {
        font-size: 1.4rem;
    }
}
@media(max-width: 670px) {
    .ITSolutions2-Tit h1{
        font-size: 3rem;
    }
}
@media(max-width: 587px) {
    .ITSolutions2-Tit h1{
        font-size: 2.5rem;
    }
}

@media(max-width: 966px) {
    .ITsolution-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 571px) {
    .ITsolution-content h4 {
      font-size: 2.25rem;
    }
  }
  @media(max-width: 532px) {
    .ITsolution-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 472px) {
    .ITsolution-content h4 {
      font-size: 1.75rem;
    }
  }
  @media(max-width: 422px) {
    .ITsolution-content h4 {
      font-size: 1.5rem;
    }
  }
  @media(max-width: 374px) {
    .ITsolution-content h4 {
      font-size: 1.25rem;
    }
  }
  @media(max-width: 366px) {
    .ITsolution-content h4 {
      font-size: 1rem;
    }
  }

@media(max-width: 802px) {
    .ITServ-Item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
    }
    .ITServ-Col2Text{
        width: 100%;
    }
    .ITServ-Col1{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .ITServ-Col2{
        width: 100%;
    }
}
@media(max-width: 331px) {
    .ITServ-Col2Text span:nth-child(1){
        font-size: 1rem;
        font-weight: 600;
        color: #30ca59;
    }
    .ITServ-Col2Text span:nth-child(2){
        color: var(--color);
        font-family: 'Mulish',sans-serif;
        font-size: 0.95rem;
        font-weight: 500;
        line-height: 1.6;
    }
}