.contact{
    background-color: var(--background-color_w);
}
.ContactContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}

.contact-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.contact-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.Contact-desFor{
    width: 100%;
}
.Contact-Items{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ContactImg{
    display: grid;
    width: 45%;
    gap: 10px;
    /* background-color: #147efb; */
}
.ContactImg .ContactImgBnner{
    width: 100%;
}
.ContactImg .ContactImgBnner img{
    width:100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: var(--bx_shdw);
    object-fit: cover;
}

.ContactImg .ContactEmailBnner{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 65px;
    background-color: var(--background-color_g);
    border-radius: 10px;
    box-shadow: var(--bx_shdw);
    border: 1px solid #767676ad;
}
.ContactImg .ContactEmailBnner .CircleIconEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #d1fae56e;
    border-radius: 50%;
    margin-left: 20px;
}
.ContactImg .ContactEmailBnner .LnkEmail h2{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
}
.ContactImg .ContactEmailBnner .LnkEmail h3{
    color: var(--clr_cntct_bnn);
    font-family: Poppins,sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none !important;
}
.ContactImg .ContactPhoneBnner{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 65px;
    background-color: var(--bg_cntc_bnr);
    border-radius: 10px;
    box-shadow: var(--bx_shdw);
    border: 1px solid #767676ad;
}
.ContactImg .ContactPhoneBnner .CircleIconPhone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #d1fae56e;
    border-radius: 50%;
    margin-left: 20px;
}
.ContactImg .ContactPhoneBnner .NbrPhone h2{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
}
.ContactImg .ContactPhoneBnner .NbrPhone h3{
    color: var(--clr_cntct_bnn);
    font-family: Poppins,sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
}
.ContactForm{
    width: 50%;
}
.ContactForm span{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.9rem;
    line-height: 1.2;
    font-weight: 700;
}
.ContactForm form{
    width: 100%;
    margin-top: 3.75rem;
}
.ContactForm form .formName{
    display: grid;
    width: 100%;
}
.ContactForm form .formName label{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 0.8;
    margin-bottom: 1rem;
    font-weight: 500;
}
.ContactForm form .formName input{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    padding: 5px 5px 10px 26px;
    margin-bottom: 3rem;
    max-width: 85%;
    border-radius:1px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #767676;
    background-color: transparent;
}
.ContactForm form .formName .UserIcon{
    color: #767676;
    font-size: 1.5rem;
    padding-right: 5px;
    position: absolute;
    translate: 10% 180%;
    pointer-events: none;
}
.ContactForm form .formEmail{
    display: grid;
}
.ContactForm form .formEmail label{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 0.8;
    font-weight: 500;
    margin-bottom: 1rem;
}
.ContactForm form .formEmail input{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    padding: 5px 5px 10px 26px;
    margin-bottom: 3rem;
    max-width: 85%;
    border-radius:1px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #767676;
    background-color: transparent;
}
.ContactForm form .formEmail .Envolope{
    color: #767676;
    font-size: 1.5rem;
    padding-right: 5px;
    position: absolute;
    translate: 10% 180%;
    pointer-events: none;
}
.ContactForm form .formMessage{
    display: grid;
}
.ContactForm form .formMessage label{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 0.8;
    font-weight: 500;
    margin-bottom: 1rem;
}
.ContactForm form .formMessage textarea{
    color: var(--color);
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    padding: 5px 5px 10px 26px;
    margin-bottom: 2.5rem;
    max-width: 85%;
    border-radius:1px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #767676;
    background-color: transparent;
}
.ContactForm form .formMessage .EnvelopeText{
    color: #767676;
    font-size: 1.5rem;
    padding-right: 5px;
    position: absolute;
    translate: 10% 180%;
    pointer-events: none;
}
.ContactForm form button{
    padding: 7px 15px;
    color: var(--color);
    background-color: #30ca59;
    border: 1px solid #30ca59;
    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 10px #1480fb13;
}
.ContactForm form button .paperEmail{
    padding: 0px 14px 0px 2px;
}
.ContactForm form button:hover > .paperEmail{
   color: white;
}
@media(max-width: 964px) {
    .ContactForm span{
        font-size: 1.8rem;
    }
}
@media(max-width: 911px) {
    .ContactForm span{
        font-size: 1.6rem;
    }
}
@media(max-width: 820px) {
    .ContactForm span{
        font-size: 1.4rem;
    }
}
@media(max-width: 891px) {
    .ContactImg .ContactEmailBnner .LnkEmail h3{
        font-size: 1.3rem;
    }
    .ContactImg .ContactPhoneBnner .NbrPhone h3{
        font-size: 1.3rem;
    }
}
@media(max-width: 800px) {
    .ContactForm span{
        font-size: 1.8rem;
    }
    .ContactImg .ContactEmailBnner .LnkEmail h3{
        font-size: 1.5rem;
    }
    .ContactImg .ContactPhoneBnner .NbrPhone h3{
        font-size: 1.5rem;
    }
    .Contact-Items{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ContactImg{
        display: grid;
        width: 100%;
        margin-bottom: 4rem;
    }
    .ContactForm{
        width: 100%;
    }
    .ContactForm form .formName input{
        max-width: 100%;
    }
    .ContactForm form .formEmail input{
        max-width: 100%;
    }
    .ContactForm form .formMessage textarea{
        max-width: 100%;
    }
    .ContactImg .ContactEmailBnner{
        display: none;
    }
    .ContactImg .ContactPhoneBnner{
        display: none;
    }
}
@media(max-width: 502px) {
    .ContactForm span{
        font-size: 1.6rem;
    }
}
@media(max-width: 451px) {
    .ContactForm span{
        font-size: 1.4rem;
    }
    .ContactImg .ContactEmailBnner .LnkEmail h3{
        font-size: 1.3rem;
    }
    .ContactImg .ContactPhoneBnner .NbrPhone h3{
        font-size: 1.3rem;
    }
}
@media(max-width: 404px) {
    .ContactForm span{
        font-size: 1.2rem;
    }
    .ContactImg .ContactEmailBnner .LnkEmail h3{
        font-size: 1.1rem;
    }
    .ContactImg .ContactPhoneBnner .NbrPhone h3{
        font-size: 1.1rem;
    }
}
@media(max-width: 371px) {
    .ContactForm span{
        font-size: 1rem;
    }
    .ContactImg .ContactEmailBnner .LnkEmail h3{
        font-size: 1rem;
    }
    .ContactImg .ContactPhoneBnner .NbrPhone h3{
        font-size: 1rem;
    }
    .ContactImg .ContactEmailBnner .LnkEmail h2{
        font-size: 1.5rem;
    }
    .ContactImg .ContactPhoneBnner .NbrPhone h2{
        font-size: 1.5rem;
    }
    .ContactImg .ContactEmailBnner{
        gap: 10px;
    }
    .ContactImg .ContactPhoneBnner{
        gap: 10px;
    }
}

@media(max-width: 966px) {
    .contact-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 571px) {
    .contact-content h4 {
      font-size: 2.25rem;
    }
  }
  @media(max-width: 532px) {
    .contact-content h4 {
      font-size: 2rem;
    }
  }
  @media(max-width: 472px) {
    .contact-content h4 {
      font-size: 1.75rem;
    }
  }
  @media(max-width: 422px) {
    .contact-content h4 {
      font-size: 1.5rem;
    }
  }
  @media(max-width: 374px) {
    .contact-content h4 {
      font-size: 1.25rem;
    }
  }
  @media(max-width: 366px) {
    .contact-content h4 {
      font-size: 1rem;
    }
  }