.footer{
    background-color: var(--background-color_w);
    width: 100%;
    padding: 0rem 0 10rem 0;
}
.footer-container{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 120rem;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}
.footer-col2 ul{
    list-style: none;
} 
.footer-col3 ul{
    list-style: none;
} 
.footer-col1{
    width: 35%;
    padding: 0 15px;
}
.footer-col2{
    width: 21%;
    padding: 0 15px;
}
.footer-col3{
    width: 21%;
    padding: 0 15px;
}
.footer-col4{
    width: 21%;
    padding: 0 15px;
}

.footer-col1 p{
    font-size: 14px;
    color: var(--color);
    text-align: justify;
    font-weight: 400;
    width: 73%;
    font-family: Poppins,sans-serif;
}
.footer-content h4{
    font-size: 18px;
    color: var(--color);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family: Poppins,sans-serif;
}
.footer-content h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #46ce6ae4;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    font-family: Poppins,sans-serif;
}
.footer-content ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-content ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    line-height: 1.7;
    font-family: Poppins,sans-serif;
}
.footer-content ul li .link:hover{
    color: #30ca59;
    padding-left: 8px;
}
.footer-content .social-links{
    display: flex;
    gap:1.5rem;
}
.footer-content .social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #d1fae59d;
    background-color: #d1fae56e;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
.footer-content .social-links a:hover{
    color: #24262b;
    background-color: transparent;
    border: 1px solid #30ca59;
}
.footrt-hr{
      width: 100%;
      border: 0;
      border-bottom: 1px solid var(--land_p);
      margin-bottom: 8rem;
}
.copyright{
    text-align: center;
    color: var(--color);
    font-size: 16px;
    margin-top: 2rem;
    font-family: Poppins,sans-serif;
}
.copyright a:hover{
    color: #30ca59;
}
  
@media(max-width: 767px){
    .footer-col1{
      width: 50%;
      margin-bottom: 30px;
    }
    .footer-col2{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col3{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col4{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col1{
      width: 100%;
    }
    .footer-col2{
        width: 100%;
    }
    .footer-col3{
        width: 100%;
    }
    .footer-col4{
        width: 100%;
    }
}
