.storage-section {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-color: var(--background-color_w);
}
.storageContainer{
    margin: 0 auto;
    padding: 120px 4rem 25px 4rem;
    max-width: 107rem;
}
.storage-content h3{
    color: #30ca59;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.storage-content h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.storage-content2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.storage-contentheader {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.storage-content3 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 5rem;
}
.storage-imgFt {
    position: relative;
}
.storage-imgFt .hydroStorage {
    border-radius: 1.7rem;
    height: 25rem;
    width: 35rem;
    object-fit: contain;
    filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.148));
    transition: 0.5s ease-in-out;
}
.storage-textFt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.storage-textFt h1{
    font-size: 6rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
}
.storage-imgFt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.storage-imgFt2 .Thank {
    border-radius: 1rem;
    height: 30rem;
    width: 27rem;
    max-width: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.storage-textFt2 P{
    color: gray;
    text-align: justify;
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}
.sectionMethods2{
    font-size: 3rem;
    color: #30ca59;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    margin-top: 6rem;
}
.storage-imgFt5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.storage-imgFt5 .storage1 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.storage-imgFt5 .storage2 {
    height: 18rem;
    width: 18rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.storage-imgFt5 .storage3 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.storage-imgFt5 .storage4 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.storage-imgFt5 .storage5 {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}

@media(max-width: 1039px) {
    .storage-textFt2 P{
        font-size: 1.4rem;
    }
}
@media(max-width: 944px) {
    .storage-textFt2 P{
        font-size: 1.3rem;
    }
}
@media(max-width: 821px) {
    .storage-textFt2 P{
        font-size: 1.25rem;
    }
}
@media(max-width: 765px) {
    .storage-textFt2 P{
        font-size: 1.2rem;
    }
    .storage-textFt h1{
        font-size: 5rem;
    }
    .storage-imgFt .hydroStorage {
        height: 22rem;
        width: 32rem;
    }
}
@media(max-width: 736px) {
    .storage-textFt2 P{
        font-size: 1.15rem;
    }
}
@media(max-width: 675px) {
    .storage-textFt2 P{
        font-size: 1.3rem;
    }
    .storage-content2 {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .storage-imgFt2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin-top: 3rem;
    }
    .storage-imgFt2 .Thank {
        border-radius: 1rem;
        height: 30rem;
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
    }
    .storage-imgFt5{
        margin-bottom: 1.5rem;
    }
}
@media(max-width: 619px) {
    .storage-textFt h1{
        font-size: 4rem;
    }
    .storage-imgFt .hydroStorage {
        height: 20rem;
        width: 30rem;
    }
}
@media(max-width: 562px) {
    .storage-textFt h1{
        font-size: 3.5rem;
    }
    .storage-imgFt .hydroStorage {
        height: 18rem;
        width: 28rem;
    }
}
@media(max-width: 513px) {
    .storage-textFt h1{
        font-size: 3rem;
    }
    .storage-imgFt .hydroStorage {
        height: 15rem;
        width: 25rem;
    }
}
@media(max-width: 464px) {
    .storage-textFt h1{
        font-size: 2.5rem;
    }
    .storage-imgFt .hydroStorage {
        height: 12rem;
        width: 22rem;
    }
}
@media(max-width: 400px) {
    .storage-textFt h1{
        font-size: 2.25rem;
    }
    .storage-imgFt .hydroStorage {
        height: 9rem;
        width: 19rem;
    }
}
@media(max-width: 365px) {
    .storage-textFt h1{
        font-size: 2rem;
    }
    .storage-imgFt .hydroStorage {
        height: 7rem;
        width: 17rem;
    }
}


@media(max-width: 966px) {
    .storage-content h4 {
      font-size: 2rem;
    }
}
@media(max-width: 571px) {
    .storage-content h4 {
      font-size: 2.25rem;
    }
}
@media(max-width: 532px) {
    .storage-content h4 {
      font-size: 2rem;
    }
}
@media(max-width: 472px) {
    .storage-content h4 {
      font-size: 1.75rem;
    }
}
@media(max-width: 422px) {
    .storage-content h4 {
      font-size: 1.5rem;
    }
}
@media(max-width: 374px) {
    .storage-content h4 {
      font-size: 1.25rem;
    }
}
@media(max-width: 366px) {
    .storage-content h4 {
      font-size: 1rem;
    }
}